# Dependabot will run on day 27 of each month at 01:35 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      timezone: "Europe/Berlin"
    target-branch: "master"
    open-pull-requests-limit: 30
