.git

.settings
.idea

node_modules
obj
bin
test

admin/i18n/flat.txt
admin/i18n/*/flat.txt
.commitinfo

/todo.txt
/*.njsproj
/.project

/log.txt
*.orig
/.vscode/extensions.json
src-admin/build/*
*.tgz


/src-admin/build/assets/
/src-admin/build/assets/*
/src-admin/build/assets/index-Bd3GtHgn.css
