.git
.idea
*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db

/iob_npm.done

/*.njsproj
/todo.txt
/typings/
/todo1.txt
/.project
/.settings/
/log.txt
/main_old.js
/obj/Debug/
*.orig
