.git
.idea
node_modules/
nbproject/
.vs*/
Thumbs.db
gulpfile.js

test/
.travis.yml
appveyor.yml
tsconfig.json
tslint.json

tslint.json
.eslintrc.json
/.project
desktop.ini
gulpfile.js
*.txt
*.njsproj

# npm package files
package-lock.json

# i18n intermediate files
admin/i18n

# maintenance scripts

gulpfile.js

/bin
.github
bin
obj


/node_modules
test
.vscode



